<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.amal.mybabyhealthcare">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name="application_controller.ApplicationController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat">
        <service
            android:name="services.BaseVaccinationNotifyService"
            android:enabled="true" />
        <service
            android:name="gcm.RegisterationService"
            android:enabled="true" />
        <service
            android:name="gcm.GCMListener"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.soundcloud.android.crop.CropImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".account.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".account.RegistrationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main_navigation.MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".baby.BabyProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".baby.NewBabyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".LauncherActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".sections.MainSectionDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".main_navigation.MainActivity" />
        </activity>
        <!-- <activity -->
        <!-- android:name=".food.NewFoodSampleActivity" -->
        <!-- android:theme="@style/AppTheme" /> -->
        <!-- <activity -->
        <!-- android:name=".food.FoodSamplesActivity" -->
        <!-- android:theme="@style/AppTheme" /> -->
        <activity
            android:name=".food.FoodTypeDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".food.FoodTypeSampleDetails"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".food.FoodTypesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".food.FoodTypeSamplesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".growth.GrowthActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".sections.MainSectionDetailsActivity" />
        </activity>
        <activity
            android:name=".growth.NewQuantitySampleActivity"
            android:parentActivityName=".growth.GrowthActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".skills.SkillsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".sleep.SleepActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".sleep.NewSleepSampleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".skills.NewSkillActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity android:name=".NodeTest">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".doctor.DoctorProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".vaccinations.VaccinationsRecordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".vaccinations.VaccinationAdvActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".vaccinations.VaccenationConfirmationReqActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".patient_review.ReviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".doctor.FindDoctorActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".doctor.LinkedDoctorsActiviy"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <!-- Google MAP API key -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCKpQEmkCuRUnSMs5cZCadBg18z6UYNK6U" />

        <activity android:name=".doctor_visit.DoctorVisitRecordActivity" />
        <activity
            android:name=".vaccinations.VaccinationsAdvNotificationsActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".vaccinations.VaccinationConfirmationReqNotificationsActivity"
            android:theme="@style/AppTheme"/>
    </application>

</manifest>
